
<div id="report-title"><h1>Trabajadores</h1></div>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cedula</th>
            <th>Cargo</th>
            <th>Dependencias Nombre</th>
            <th>Subdependencias Subdependencia</th>
            <th>Pin</th>
            <th>Grupo Sanguineo</th>
            <th>Otp Code</th>
            <th>Otp Date</th>
        </tr>
    </thead>
    <tbody>
        <% records.forEach(function(record){ %>
        <tr>
            <td><%= record.foto %></td>
            <td><%= record.nombres %></td>
            <td><%= record.apellidos %></td>
            <td><%= record.cedula %></td>
            <td><%= record.cargo %></td>
            <td><%= record.dependencias_nombre %></td>
            <td><%= record.subdependencias_subdependencia %></td>
            <td><%= record.pin %></td>
            <td><%= record.grupo_sanguineo %></td>
            <td><%= record.otp_code %></td>
            <td><%= record.otp_date %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
